<div class="row">
    <div class="side">
        <% if current_user.picture? %>
            <%= image_tag "#{current_user.picture}", class: :profile %>
        <% else %> 
            <%= image_tag "default.png" %>
        <% end %>
        <h1> <%= "#{current_user.first_name} #{current_user.last_name}" %> </h1>
        <%= link_to "Edit Profile", edit_user_registration_path %>
    </div>

    <div class="main">
        <div class="post-input">
            <%= form_for :new_post, url: posts_url, method: :post do |f| %>
                <%= f.text_area :content, placeholder: "Whats on your mind?" %> </br>
                <%= f.file_field :picture %>
                <%= f.submit "Post" %>
            <% end %>
        </div>
        <%= render "layouts/posts_feed" %> 
    </div>
</div>
<%= will_paginate @post_feed %>

