<% @users.each do |user| %>
    <% if !current_user.friends.include?(user) && !current_user.pending_from_friends.include?(user) %>
        <div class="card">
            <div class="row">
                <div class="col-md-2">
                    <% if user.picture? %>
                        <%= image_tag "#{user.picture}", class: "card-img" %>
                    <% else %> 
                        <%= image_tag "default.png", class: "card-img" %>
                    <% end %>
                </div>
                <div class="card-body col-md-8 d-flex align-items-center justify-content-between">
                    <%= link_to "#{user.first_name} #{user.last_name}", user_path(user.id) %> 
                    <% if current_user.pending_to_friends.include?(user) %>
                        <%= button_to "Accept friend request", request_path(get_request_id(user).id), method: :patch, class: "btn btn-success" %>
                    <% else %>
                        <%= button_to "Add as friend", requests_path(to: user.id), method: :post, class: "btn btn-outline-success" %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>  
<% end %>


<%= will_paginate @users %>