<div class="header">
    <h1>Facebook</h1>
    <p>Connect with your friends</p>
</div>
<div class="navbar">
    <%= link_to "Home", root_url %> 
    <% if user_signed_in? %>
        <%= link_to "Friends", user_friends_path(current_user.id), class: "push" %> 
        <%= link_to "#{pluralize(current_user.to_requests.count, "New friend request")}", requests_path(user_id: current_user), method: :get %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: :push     %>
    <% end %>
</div>
